:host{
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &,
    label,
    input{
      width: 100%;
    }
    label{
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #4A4A4A;

      .svg{
        width: 15px;
        padding: 5px 5px;
      }

      input{
        height: 50px;
        border: none;
        font-size: 18px;
        &::placeholder{
          color: #4A4A4A;
        }
      }
    }
  }
}
